body {
    background-color: gray;
    font: 14px 'Arial',sans-serif;
    text-align: center;
}
 header {
    color:black;
    font: 20px 'Arial',sans-serif;
 
     }


     div{
    align-self: center;
}

#menu{
    background-color:  black;
}

#menu ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    color: white; 
    display: block;
    padding: 10px 80px ;
       text-decoration: none;
}
       #menu ul li a:hover{
    background-color: gray;
}
    img{
    	 position: relative;
    width: 400px;
    height: 400px;
    list-style: none;

    }


    .container .list-image{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container .list-image li{
   
    margin-right: 5px;
    margin-bottom: 5px;
    list-style: none;
}


.container .list-image  li img{
    
    position: relative;
    width: 250px;
    height: 250px;
    list-style: none;

}   

.container-all div{
    text-align: ;
position: relative;
width: 250px
height:250px;
list-style:none;
background-color: white;}